<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    <link rel="stylesheet" href="../styles/add_movie.css">
    <script type="text/javascript" src="../scripts/add_movie.js"></script>
</head>
<body>

    <h1 th:text="|Hello, administrator ${username}|"></h1>

    <h1>Добави филм</h1>

    <form name="addMovie" action="/admin/add_movie" method="POST">
        <label for="movieName">Име на филма:</label>
        <input id="movieName" name="movieName" type="text" placeholder="Въведете име на филма"/>

        <label for="movieRunningTime">Гледания:</label>
        <input id="movieRunningTime" name="movieRunningTime" type="text" placeholder="Въведете гледания за филма"/>

        <label for="movieYear">Година:</label>
        <input id="movieYear" name="movieYear" type="text" placeholder="Въведете година"/>

        <label for="movieDirector">Режисьор:</label>
        <input id="movieDirector" name="movieDirector" type="text" placeholder="Въведете режисьор"/>

        <label for="movieActor">Актьори:</label>
        <input id="movieActor" name="movieActor" type="text" placeholder="Въведете актьор"/>

        <label for="movieGenre">Жанр:</label>
        <input id="movieGenre" name="movieGenre" type="text" placeholder="Въведете жанр за филма"/>

        <label for="file">Добави изображение към филма:</label>
        <input type="file" id="file" name="file" />

        <input class="submit" type="submit" value="Добави филм">

        <a href="/index">Home</a>
    </form>

</body>
</html>