<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Онлайн филми</title>
    <link rel="icon" href="images/logo.jpg">

    <!-- Styles -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- External Libraries -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="images/playvideo.png" alt="Play_video_logo" width="50" height="50">
            </a>

            <h1><a href="index.html">Filmi 3k</a></h1>
        </div>
        <h2>Гледай филми онлайн</h2>

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg rounded">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#">Трендинг</a></li>

                <li class="nav-item"><a class="nav-link" href="#">Научни</a></li>

                <li class="nav-item"><a class="nav-link" href="#">Драма</a></li>

                <li class="nav-item"><a class="nav-link" href="#">Приключенски</a></li>

                <li class="nav-item"><a class="nav-link" href="#">Комедия</a></li>

                <li class="nav-item"><a class="nav-link" href="#">Ужас</a></li>

                <li class="nav-item"><a class="nav-link" href="#">Екшън</a></li>

                <li class="nav-item"><a class="nav-link" href="#">Анимация</a></li>

                <li class="nav-item"><a class="nav-link" href="#">Военни</a></li>
            </ul>

            <div class="d-flex p-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
        </nav>
    </div>

    <div class="wrapper">
        <div class="shell">
            <div class="trending bg-dark rounded">
                <h5>Трендинг</h5>
            </div>
            <div class="main bg-dark">
                <div class="movie">
                    <div class="play">
                        <a href="#">
                            <img src="movies/f9.jpg"
                                 class="img-fluid"
                                 alt="Fast and Furious 7">
                        </a>

                        <div class="views">
                            <img src="images/playvideo.png" alt="Views" width="15" height="15">

                            <h6>15</h6>
                        </div>
                    </div>

                    <h6 class="movie-title text-light">Movie Title</h6>
                </div>

                <div class="movie">
                    <div class="play">
                        <a href="#">
                            <img src="images/fast_furious_8_121-696x392-1.jpg"
                                 class="img-fluid"
                                 alt="Fast and Furious 7"
                                 width="250" height="200">
                        </a>

                        <div class="views">
                            <img src="images/playvideo.png" alt="Views" width="15" height="15">

                            <h6>15</h6>
                        </div>
                    </div>

                    <h6 class="movie-title text-light">Movie Title</h6>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p class="text-justify">Гледайте филми онлайн на сайта filmi3k.com без никакви условия и напълно безплатно.

            Ако сте носител на авторско право и желаете премахването на филми от сайта свържете се с нас чрез <a href="/register.html">формата за контакт</a>.
        </p>
    </footer>

</body>
</html>