<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="styles/login.css">

    <!--External Libraries-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

    <h1>Влез в системата</h1>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form action="/login" method="POST">
        <label for="email">Потребителско име:</label>
        <input id="email" name="text" type="text" placeholder="Въведете имейл адрес или потребителско име"/>

        <label for="pwd">Парола:</label>
        <input id="pwd" name="pwd" type="password" placeholder="Въведете парола поне с 8 символа "/>

        <input class="submit" type="submit" value="Вход">
    </form>

</body>
</html>