<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <link rel="stylesheet" href="styles/register.css">

    <!--External Libraries-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

    <h1>Създаване на профил</h1>

    <form action="register" method="POST">
        <label for="username">Потребителско име:</label>
        <input id="username" name="username" type="text" placeholder="Въведете потребителско име"/>

        <label for="email">Имейл адрес:</label>
        <input id="email" name="email" type="email" placeholder="Въведете имейл адрес"/>

        <label for="password">Парола:</label>
        <input id="password" name="password" type="password" placeholder="Въведете парола поне с 8 символа"/>

        <label for="confirm-password">Повторете паролата:</label>
        <input id="confirm-password" name="confirmPassword" type="password" placeholder="Въведете парола поне с 8 символа"/>

        <label for="gender">Пол:</label>
        <select id="gender" name="gender">
            <option>Мъж</option>
            <option>Жена</option>
        </select>

        <input class="submit" type="submit" value="Вход">
    </form>

</body>
</html>