/* ------------------------------------------------------------ *\
    Reset
\* ------------------------------------------------------------ */
* { padding: 0; margin: 0; box-sizing: border-box; }

/* ------------------------------------------------------------ *\
    Body
\* ------------------------------------------------------------ */
body { background: #f4f4f4; }

/* ------------------------------------------------------------ *\
    Title
\* ------------------------------------------------------------ */
h1 { padding: 20px 0 20px 0; text-align: center; color: #012e5e; }

/* ------------------------------------------------------------ *\
    Form
\* ------------------------------------------------------------ */
form { margin: auto; padding: 40px 20px 20px 20px; width: 50%; background: #0d827d; border-radius: 5px;}

/*Labels*/
label { display: block !important; padding: 20px 0 10px 0; text-align: center; color: #343a40; }

/*Inputs*/
input { padding: 12px 20px; border: 1px solid #ccc; margin: 8px 0; display: inline-block; width: 100%;
    color: #713422; }

/*Select Gender*/
select { display: block; padding: 12px 20px; border-radius: 5px; margin: auto !important;}

.submit { display: block !important; margin: 20px auto; width: 50% !important; color: white; text-align: center;
    background-color: #343a40; border-radius: 4px; cursor: pointer;  }
.submit:hover { background: #5bbca8; }

