/* ------------------------------------------------------------ *\
    Reset
\* ------------------------------------------------------------ */
* { padding: 0; margin: 0; box-sizing: border-box; }

/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */
.header { padding: 2%; width: 100%; height: 230px; background: darkcyan; }

/*Logo*/
.logo { display: flex; }

/*Menu*/
.menu { margin-left: 50px; display: flex; }
.nav-btn { padding: 15px; border-radius: 8px; list-style: none; background: #343a40 !important; }
.nav-btn + .nav-btn { margin-left: 8px;}
.nav-btn a { text-decoration: none; color: white; }
.nav-btn a:hover { cursor: pointer; color: #cccccc; }

/*Title*/
.header h1 { font-family: "Century Gothic"; }
.header h1 a { text-decoration: none; color: black; }

/* ------------------------------------------------------------ *\
    Wrapper
\* ------------------------------------------------------------ */
.wrapper { width: 100%; height: auto; }

/* ------------------------------------------------------------ *\
    Shell
\* ------------------------------------------------------------ */
.shell { margin: auto; max-width: 1330px; }

/* ------------------------------------------------------------ *\
    Main
\* ------------------------------------------------------------ */
.main { display: flex; padding: 75px; margin-top: 100px; }

/*Movie*/
.movie { margin: auto; width: 95%; height: 50%; }
.movie:hover { cursor: pointer; }
.movie-title { margin-top: 50px; font-size: 60px; text-align: center; font-family: "Century Gothic"; }

/*Play Video*/
.play:hover { transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background: #5bc0de; }

/*Image*/
.img-fluid { width: 1330px; height: auto; }

/*Views*/
.views { padding: 5px; }
.views:after { content: ''; display: block; clear: both; }
.views img { float: left; }
.views h6 { float: left; margin-left: 5px; }

/* ------------------------------------------------------------ *\
    Footer
\* ------------------------------------------------------------ */
footer { margin-top: 50px; width: 100%; background: darkcyan; }
footer .users { display: flex; }
.user + .user { margin-left: 18px; }
footer li { list-style: none; }